name: NuGet Package

on:
  push:
    branches:
      - main
        
permissions: write-all

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        dotnet-version: [ '8.0.x' ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotnet ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
          source-url: https://nuget.pkg.github.com/PierreOlivierBrillant/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Display dotnet version
        run: dotnet --version
      - name: Build
        run: dotnet build --configuration Release VisualArrays
      - name: Create the package
        run: dotnet pack --configuration Release VisualArrays
      - name: Publish the package to GPR
        run: dotnet nuget push VisualArrays\bin\Release\*.nupkg
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GPR_NUGET_REGISTRY}}
